body{
	background-image: url("https://stmed.net/sites/default/files/pokemon-go-hd-wallpapers-33512-9070371.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 900px;
	color: white;
	/*text-shadow: 0 1px black;*/
	font-size: 20px;
}

.gallery{
	display: inline;
	text-align: center;
}

#pokemons{
	overflow-y: scroll;
  position: relative;
  height: 400px;
}

#pokecard, #traincard, #energycard{
	display: inline-block;
	position:relative;
	height: 20px;
	width: 100px;
	margin: 0 20px;
	top: 25%;
	left: 30%;
}

#pokeimg{
	max-width: 128px;
	margin: 5px;
}

#exampleModalLabel{
	font-size: 25px;
}

#content {
	display: block;
	float: right;
	text-shadow: none;
}

#content span{
	font-size: 23px;
	text-shadow: 0 1px black;
}

#content img{
	float: left;
	padding: 0 20px 0 10px;
	max-width: 370px;
}

footer{
	overflow: hidden;
	border-top: 2px solid #333;
	padding: 10px 0;
	text-align: center;
	position: relative;
	margin-top: 10px;
  width: 100%;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
	#pokecard, #traincard, #energycard{
		left: 25%;
	}
	#content img{
		max-width: 230px;
	}
}